<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="static/styles.css" />

    <title> Miaμsic 😺</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap"
      rel="stylesheet"
    />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand" href="/">Miaμsic 😺</a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="collapse navbar-collapse justify-content-end"
            id="navbarNav"
          >
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/crear">Crear</a>
              </li>
            </ul>
          </div>
        </div>
    </nav> 
    
    <div class="card mx-auto w-75 m-3 border-0">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="static/img/music.jpeg" class="card-img" alt="música">
          </div>
          <div class="col-md-8 ">
            <div class="card-body">
              <h5 class="card-title">Restricciones</h5>
                <form action="/submit" method="POST">
                   <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="gan" name="gan">
                    <label class="form-check-label" for="gan">Génetico - GAN</label>
                   </div>
                    <div class="form-group mt-2">
                      <label for="instrumento">Intrumento</label>
                      <select class="form-control" id="instrumento" name="instrumento">
                        <option value="piano">Piano</option>
                        <!-- <option value="guitarra">Guitarra</option> -->
                        <option value="violin">Violín</option>
                      </select>
                    </div>
                    <div class="form-group mt-2">
                      <label for="nota">Nota</label>
                      <select class="form-control" id="nota" name="nota">
                        <option value="C">Do</option>
                        <option value="D">Re</option>
                        <option value="E">Mi</option>
                        <option value="F">Fa</option>
                        <option value="G">Sol</option>
                        <option value="A">La</option>
                        <option value="B">Si</option>
                      </select>
                    </div>
                    <div class="form-group mt-2">
                      <label for="escalas">Escala</label>
                      <select class="form-control" id="escalas" name="escalas">
                        <option value="Ionian">Ascendentes - Ionian</option>
                        <option value="Dorian">Ascendentes - Dorian</option>
                        <option value="Phrygian">Ascendentes - Phrygian</option>
                        <option value="Lydian">Ascendentes - Lydian</option>
                        <option value="Mixolydian">Ascendentes - Mixolydian</option>
                        <option value="Aeolian">Ascendentes - Aeolian</option>
                        <option value="Locrian">Ascendentes - Locrian</option>
                        <option value="Mayor">Mayor</option>
                        <option value="Armonica mayor">Armonica mayor</option>
                        <option value="Menor">Menor</option>
                        <option value="Cromática">Cromática</option>
                        <option value="Octatónico">Octatónico</option>
                      </select>
                    </div>
                    <div class="form-group mt-2">
                      <label for="compas">Compás</label>
                      <select class="form-control" id="compas" name="compas">
                        <option value="4/4">4/4</option>
                        <option value="3/4">3/4</option>
                        <option value="2/4">2/4</option>
                        <option value="3/8">3/8</option>
                        <option value="6/8">6/8</option>
                        <option value="9/8">9/8</option>
                        <option value="12/8">12/8</option>
                      </select>
                    </div>
                    <div class="form-group mt-2">
                      <label for="beats">BPM</label>
                      <select class="form-control" id="beats" name="beats">
                        <option value="40">Grave - lento y solemne 40 BPM</option>
                        <option value="45">Lento – lentamente 45 BPM</option>
                        <option value="50">Largo - ampliamente 50 BPM</option>
                        <option value="65">Adagio – lento y majestuoso 65 BPM</option>
                        <option value="70">Adagietto – bastante lento 70 BPM</option>
                        <option value="77">Andante – a paso 77 BPM</option>
                        <option value="97">Moderato - moderadamente 97 BPM</option>
                        <option value="109">Allegretto - moderadamente rápido 109 BPM</option>
                        <option value="132" selected>Allegro - rápido, rápido y brillante 132 BPM</option>
                        <option value="140">Vivace - animado y rápido 140 BPM</option>
                        <option value="177">Presto - extremadamente rápido 177 BPM</option>
                        <option value="178">Prestissimo - incluso más rápido que Presto 178</option>
                      </select>
                    </div>
                    <div class="form-group mt-2">
                      <label for="duracion">Duración:</label><br>
                      <input type="range" class="form-control-range" id="duracion" name="duracion" min="1" max="20">
                    </div>
                    <div class="d-flex flex-row-reverse">
                      <button type="submit" class="btn btn btn-dark mt-2">Crear</button>
                    </div>
                  </form>
            </div>
          </div>
        </div>
      </div>


    
    <footer class="gradient">
        <div class="container-fluid text-center">
          <span>Hecho con ❤️
        </div>
      </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>