<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="static/styles.css" />

    <title> Miaμsic 😺</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap"
      rel="stylesheet"
    />
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand" href="/">Miaμsic 😺</a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="collapse navbar-collapse justify-content-end"
            id="navbarNav"
          >
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/crear">Crear</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
     
      <div class="card h-100 w-75 mx-auto m-3">
        <embed src="../static/results/res.pdf" class="card-img-top h-75 w-100" 
               type="application/pdf">
        <div class="card-body">
          <p class="card-text">
            <audio controls class="w-100">
              <source src="../static/results/res.wav" type="audio/mpeg">
             Your browser does not support the audio element.
            </audio>
          </p>
        </div>
        <div class="card-body">
          <a href="../static/results/res.wav" class="btn btn-outline-dark" style="width:49%;">Descargar wav</a>
          <a href="../static/results/res.mid" class="btn btn-dark" style="width:49%;">Descargar midi</a>
        </div>
      </div>

      <footer class="gradient">
        <div class="container-fluid text-center">
            <span>Hecho con ❤️
        </div>
      </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>